header
{
    Font-size: 30px;
    background-color: rgba(228, 77, 147, 0.6); /* Cor: #E44D93 */
    text-align: center;
}

body
{
    background-color: #EEA7C2;
}

#content-wrap
{
    padding-buttom: 6rem;
}

#page-container
{
    position: relative;
    min-height: 100vh;
    font-size: 20px;
    font-family: "arial";
    background-color: rgba(255, 228, 245, 0.8); /* Cor = #FFE4F5 */
}

h6
{
    font-style: bold;
    font-size: 18px;
}

#footer
{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6rem;
    font-size: 15px;
    font-family: "times new roman";
    color: white;
    background-color: #005B56; /* Cor = #005B56 */
}

.margem
{
    margin: 20px;
}

.titulos
{
    font-family: "segoi ui";
    color: black;
}